$primary-color: #222831;
$secondary-color: #393e46;
$contrast-color: #00adb5;
$background-color: $contrast-color;
$text-color: #eeeeee;
$danger-color: rgb(219, 39, 39);

$primary-font: "Roboto", sans-serif;

$breakpoint-mobile: 851px;

$border-radius: 1em;
$preview-border-radius: 1em;

@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;400&display=swap");
