@import "./_vars.scss";
@import "./globals.scss";
@import "./Button.scss";
@import "./Dialog.scss";
@import "./Form.scss";
@import "./GuestList.scss";
@import "./Input.scss";
@import "./Keyframes.scss";
@import "./Loading.scss";

.title {
    margin: 1em;
}

.create-btn {
    font-size: 1.25rem;
    background-color: $primary-color;
    border: 1px solid $contrast-color;
    &:hover {
        background-color: $secondary-color;
        border: 1px solid $secondary-color;
    }
}
