* {
    &::-webkit-scrollbar {
        width: 8px;
        height: 8px;
    }

    &::-webkit-scrollbar-track {
        background-color: $primary-color;
    }

    &::-webkit-scrollbar-thumb {
        background-color: $contrast-color;
    }
}

body {
    color: $text-color;
    font-family: $primary-font;
    margin: 0;
    background-color: $background-color;
}

.centered {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin: auto;
}

.space-around {
    display: flex;
    justify-content: space-around;
    align-items: center;
    text-align: center;
    margin: auto;
}

.space-between {
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-align: center;
    margin: auto;
}
